{% load static widget_tweaks %}
{% extends 'consultas/base.html' %}

{% block titulo %}
  Cadastro de Paciente
{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <h1>Cadastrar Paciente</h1>
  
    <form method="post" class="mt-4">
      {% csrf_token %}
      <fieldset>
        <legend class="mb-4">Informações do Paciente</legend>
  
        <div class="mb-3">
          {{ form.nome.label_tag }}
          {{ form.nome|add_class:"form-control" }}
        </div>
  
        <div class="mb-3">
          {{ form.data_nascimento.label_tag }}
          {{ form.data_nascimento|add_class:"form-control" }}
        </div>
  
        <div class="mb-3">
          {{ form.telefone.label_tag }}
          {{ form.telefone|add_class:"form-control" }}
        </div>
  
        <div class="mb-3">
          {{ form.endereco.label_tag }}
          {{ form.endereco|add_class:"form-control" }}
        </div>
  
        <div class="d-flex justify-content-between">
          <a href="{% url 'pacientes:listar_pacientes' %}" class="btn btn-secondary">Voltar</a>
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </fieldset>
    </form>
  </div>
  {% endblock %}
