{% extends 'consultas/base.html' %}

{% block titulo %}
    Lista de Pacientes
{% endblock %}

{%block conteudo %}
    <h2>Lista de Pacientes</h2>

    <div class="btn-container">
        <a href="{% url 'pacientes:cadastrar_paciente' %}"  class="btn">+ Novo </a>
    </div>

    <ul>
        {% for paciente in pacientes %}
       <div class="card">
            <li>
                <strong>Nome: </strong> {{paciente.nome}} <br>
                <strong>Data de Nascimento: </strong> {{paciente.data_nascimento}} <br>
                <strong>Telefone: </strong> {{paciente.telefone}} <br>
                <strong>Endereço: </strong> {{paciente.endereco}}
            </li>
            {% empty %}
                <li>Nenhum paciente cadastrado ainda</li>
            {% endfor %}
        </div>
    </ul>
{% endblock %}