{% load static}
{% extends 'consultas/base.html' %}

{% block titulo %}
  Cadastrar Consulta
{% endblock %}

{% block conteudo %}
  <h1>Cadastro de Consulta</h1>
  <form method="post">
      {% csrf_token %}

      <p>
        {{ form.paciente.label_tag }} {{ form.paciente }}
        <a href="{% url 'pacientes:cadastrar_paciente' %}" target="_blank" style="margin-left: 10px;"> <!-- no referrer? -->
          Cadastrar novo Paciente
        </a>
      </p>

      <p>
        {{ form.data_consulta.label_tag }} {{ form.data_consulta }}<br>
        {{ form.hora_consulta.label_tag }} {{ form.hora_consulta }}<br>
        {{ form.observacoes.label_tag }} {{ form.observacoes }}<br>
      </p>

      <button type="submit">Salvar</button>
  </form>

  <p><a href="{% url 'consultas:listar_consultas' %}">Visualizar consultas</a></p>

  {% endblock %}