{% extends 'consultas/base.html' %}

{% block titulo %}
  Lista de Consultas
{% endblock %}

{% block conteudo %}
  <h1>Lista de Consultas</h1>
  
  <div class="btn-container">
    <a href="{% url 'consultas:criar_consulta' %}" class='btn'> + Nova</a>
  </div>

  {% if consultas %}
    {% for consulta in consultas %}
      <div class="card">
        <p><strong>Paciente:</strong> {{ consulta.nome_paciente }}</p>
        <p><strong>Data:</strong> {{ consulta.data }}</p>
        <p><strong>Profissional:</strong> {{ consulta.profissional_responsavel }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p>Nenhuma consulta cadastrada.</p>
  {% endif %}
{% endblock %}
