body {
    background-color: #f9f5f0; /* tom de bege claro */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-principal {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding-bottom: 10px;
}

.titulo-principal::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #3498db;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.card {
    background-color: white;
    padding: 16px;
    margin: 12px 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    width: 400px; /* Reduz a largura */
    text-align: left;
}


.card:hover {
    transform: scale(1.02);
}

.card h2 {
    margin-top: 0;
    color: #2c3e50;
}

.card p {
    margin: 6px 0;
    color: #555;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.02);
}

.btn-container {
    text-align: left;
    margin: 12px;
    max-width: 600px; /* Mesmo valor do card para manter harmonia */
}

h1 {
    color: #343a40;
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    color: #2a2f33;
    font-size: 26px;
    margin-bottom: 20px;
}


a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0b5ed7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

strong {
    color: #495057;
}
